.totals-container {
    flex: 1; 
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    bottom: 0;
    position: relative;
}

.total-amounts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout:hover {
    background-color: #218838;
}

.empty-cart {
    font-size: xx-large;
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
}
