.register-container {
    flex-direction: column;
    align-items: center;
    padding: 5px 20px 35px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 400px;
    border: 1px solid lightgray;
    margin: auto;
    margin-top: 50px;
}

.register-container h1 {
    font-size: 1.8rem;
}

.user-name {
    display: flex;
    justify-content: space-around;
    padding: 0 0 25px 0;
}

.user-first-name, .user-last-name {
    width: 44%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-size: 1rem;
}

.register-info {
    padding: 5px 0 30px 0;
}

.email-input {
    width: 94%;
    height: 44%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid lightgray;
}


.existing-account-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.existing-account-container h4 span{
    background:#fff; 
    padding:0 5px; 
}

.existing-account-container h4 {
    width: 40%; 
    text-align: center; 
    border-bottom: 1px solid lightgray; 
    line-height: 0.1em;
    color: gray;
 } 

.signin {
    font-size: 1.1rem;
}

.signin:hover {
    text-decoration: underline;
    color: #0056b3;
}