.sign-in-container {
    flex-direction: column;
    align-items: center;
    padding: 5px 20px 35px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 400px;
    border: 1px solid lightgray;
    margin: auto;
    margin-top: 50px;
}

.sign-in-container h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.user-info, .password {
    width: 94%;
    margin-bottom: 15px;
}

.user-info h3, .password h3 {
    margin-bottom: 5px;
    font-weight: normal;
}

.user-input, .password input {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-size: 1rem;
}

.submit {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
}

.submit-button:hover {
    background-color: #0056b3;
}

.submit a:hover {
    text-decoration: underline;
}

.reset-password:hover {
    color: #0056b3;
    text-decoration: underline;
}

.new-account-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-account-container h4 span{
    background:#fff; 
    padding:0 5px; 
}

.new-account-container h4 {
    width: 39%; 
    text-align: center; 
    border-bottom: 1px solid lightgray; 
    line-height: 0.1em;
    color: gray;
 } 

.create {
    font-size: 1.1rem;
}

.create:hover {
    text-decoration: underline;
    color: #0056b3;
}