.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    z-index: 1001;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
    width: 60vw;
    transition: all 0.3s ease-in-out;
    justify-self: end;
}