.product-screen {
    display: flex;
}

.categories {
    margin-top: 20px;
    margin-right: 50px;
}

.select {
    margin-bottom: 20px;
}

.select label {
    margin-left: 10px;
    font-weight: 900; 
    width: 100%;
}
