.product-screen {
  display: flex;
  gap: 24px;
}

.categories {
  padding-top: 20px;
}

.product-catalog {
  flex: 1;
  display: flex;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1100px;
}
.select {
  margin-bottom: 10px;
  gap: 8px;
}

input[type="radio"] {
  margin-right: 8px;
}


