
.product-card {
    border: 1px solid rgb(243, 243, 243);
    border-radius: 5px;
    width: 350px;
}

.product-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 12px 0 0 0;
    color: inherit;
    text-decoration: none;
  }

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    width: 300px;
}

.product-title {
    overflow-wrap: anywhere;
    word-break: break-word;
}

.product-image-container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart {
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: orange;
    height: 30px;
}

.add-to-cart:hover {
    background-color: rgb(176, 112, 2);
    cursor: pointer;
}

.add-to-favorite {
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: rgb(250, 139, 139);
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.add-to-favorite:hover {
    background-color: rgb(251, 115, 115);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 12px;
}


