.product-screen {
  display: flex;
  justify-content: center;
}

.categories {
  padding-top: 20px;
  width: 220px;
  flex-shrink: 0;
}

.product-catalog {
  flex: 1;
  display: flex;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1100px;
}
.select {
  margin-bottom: 10px;
  gap: 8px;
}

input[type="radio"] {
  margin-right: 8px;
}

.category-dropdown {
  width: 200px;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
}


@media (max-width: 768px) {
  .categories {
    display: none;
  }
  .product-list {
    max-width: 100%;
    padding: 0 200px;
  }
}



